.touch {
  
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  
}


.touch:hover {
  background-color: #0062cc;
}

.touch:active {
  background-color: #005cbf;
}
  
  img {
    width: 100%;
    height: auto;
    z-index: 1;
    
  }

  .touch-text {
    /* position: absolute; */
    bottom: 0;
    /* width: 100%; */
    text-align: center;
    z-index: 1;
  }