.container {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* increase or decrease this value to adjust space between buttons */
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
}

