/* * {
    box-sizing: border-box;
  } */
  .container {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    /* box-shadow: 0px 2px 2px #000000;; */
    
  }
