.filter {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    gap: 20px; /* Add space between buttons */
    
  }



.myButton {
    
  display: flex; /* Use flexbox for button container */
  flex-direction: column; /* Set flex direction to column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
 
  background-color: transparent;
  cursor: pointer;
    
  }

  .myButton.active {
    /* Add the desired styles for the active state */
    background-color:#c0ff9b;
    color: black;
  }
  
  .thumbnailImage {
    width: 50px; /* Adjust the size of the thumbnail image as needed */
    height: 50px;
    border-radius: 50%; /* To create a circular thumbnail image */
    object-fit: cover; /* To ensure the image fills the thumbnail without distortion */
  }
  