/* Footer.css */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(56,3,162,1) 0%, rgba(29,124,253,1) 50%, rgba(81,55,195,1) 100%);
    padding: 16px;
    text-align: center;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1); /* Add the box shadow property */
  }
  
  .footer-text {
    margin: 0;
  }
  