.text-box {
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 15px; /* set a minimum height value */
    
  }


  @media screen and (max-width: 768px) {
    .text-box {
      font-size: 14px;
      padding: 8px;
      max-width: 320px;
    }
  }