.modal {
  /* Center the modal in the middle of the screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Add relative position */
  /* backdrop-filter: blur(200px); */
}

.modal-container {
  margin-top: 25px;
  position: absolute; /* Update the position to absolute */
  top: 50%; /* Set top position to 50% to center the modal vertically */
  left: 50%; /* Set left position to 50% to center the modal horizontally */
  transform: translate(-50%, -50%); /* Use transform to center the modal both vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* Semi-transparent background */
  width: 80%; /* Set the width of the modal container to 80% of the viewport */
  height: 85%; /* Set the height of the modal container to 40% of the viewport */
  border-radius: 15px;
  z-index: 9999; /* Set a higher z-index value to ensure the modal is positioned on top of other elements */
  border-radius: 15px;
}

.modal-container label {
  /* Style for the labels inside the modal container */
  display: block;
  margin-bottom: 0.5rem; /* Add some spacing between the label and the input field */
}

.modal-container select,
.modal-container input {
  /* Style for the input fields inside the modal container */
  width: 100%; /* Make the input fields take up the full width of the container */
  padding: 0.5rem; /* Add some padding to the input fields */
  margin-bottom: 1rem; /* Add some spacing between the input fields */
}

.close-button {
  /* Style for the close button */
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute; /* Update the position to absolute */
  top: 10px; /* Adjust the top position to position the button at the top of the modal */
  right: 10px; /* Adjust the right position to position the button at the right of the modal */
  border-radius: 50%; /* Make the button round */
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  z-index: 1; /* Add a z-index to ensure the button is positioned above the modal content */
}

@media (max-width: 767px) { /* Apply styles for screens with a maximum width of 767px */
  .modal-container {
    width: 90%; /* Set the width of the modal container to 90% of the viewport for smaller screens */
    height: 90%; /* Set the height of the modal container to 90% of the viewport for smaller screens */
  }
}